@keyframes form-move-in {
  from {
    transform: scale(0.3) perspective(3000px) rotateX(90deg);
  }
  to {
    transform: scale(1) perspective(600px) rotateX(0deg);
  }
}

#loginPage,
#registerPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.auth-form {
  animation: form-move-in 0.75s;
  box-shadow: 0 0 5px gray;
  width: max-content;
  padding: 10px;
  transform-origin: top center;
  border-radius: 5px;
  background: white;
  .auth-form-row {
    height: 36px;
  }
  input,
  button {
    width: 200px;
    box-sizing: border-box;
    padding: 0 8px;
    height: 24px;
  }
  button {
    display: block;
    position: relative;
    background-image: linear-gradient(90deg, #1890ff, #18dcff);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    &:hover:before {
      background: rgba(0, 0, 255, 0.2);
    }
    &:before {
      content: attr(data-text);
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      background: rgba(0, 0, 255, 0.0);
      transition: all 0.3s;
    }
  }
  a {
    color: #666;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      color: #1890ff;
    }
  }
}
